
/* About page */
.about-container{
    padding: 0 10rem 0 10rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* height: 65vh; */
}
.about-container h1{
    font-size: 3rem;
}
  .about-container p{
    font-size: 0.8rem;
}

.about-stuff .stuff-one{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--Color);
    border-radius: 1rem;
    padding: 2rem;
    color: var(--innerColor);
    margin-bottom: 1rem;
}
.about-container h2{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.about-stuff .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-stuff .top a{
  color: var(--innerColor);
}
.aboutstuff p{
    padding: 1rem;
}
.about-stuff button{
    background: none;
    border: 1px solid var(--innerColor);
    border-radius: 0.6rem;
    padding: 1rem;
    width: 10rem;
    color: var(--innerColor);
}
.about-stuff button:hover{
    background-color: var(--innerColor);
    color: var(--Color);
}

.tech-icons{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.icons-container{
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    /* justify-content: center; */
    gap: 1rem;
    height: 10rem;
    overflow: hidden;
    overflow-x: scroll;
}
.icons-container::-webkit-scrollbar {
    height: 2px; /* Height of the horizontal scrollbar */
    background: var(--linkColor); /* Scrollbar background color */
    border-radius: 10px; /* Rounded scrollbar */
  }
  
  .icons-container::-webkit-scrollbar-thumb {
    background: var(--innerColor); /* Thumb color */
  }
  
  .icons-container::-webkit-scrollbar-thumb:hover {
    background: var(--innerColor); /* Slightly darker color on hover */
  }
.about-container .about-icons img{
    width: 5rem;
}
.about-icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--Color);
    color: var(--innerColor);
    padding: 0.6rem;
    border-radius: 0.6rem;
}
.about-icons:hover{
    border-radius: 0;
    transform: scale(1.2);
    transition: transform 01s ease;
    transform: rotate(360deg);
}

.filter{
    filter: var(--nextTheme);
}

/* responsiveness */

@media (max-width: 768px) {
    .about-stuff .top{
        display: flex;
        flex-direction: column;
        align-items:start;
        gap: 1rem;
    }
}