/* home page */
.home-container{
    padding: 3rem 0 0 5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .home-container .text{
    font-size: 0.9rem;
    line-height: 1.6rem;
  }
  .more{
    margin: 2rem 0 2rem 0;
  }
  .more a{
    display: flex;
    gap: 1rem;
    align-items: center;
    cursor: pointer;
    transition: 0.3s ease linear;
    text-decoration: none;
    color: var(--Color);
}
  .more a i{
    animation-name: arrow;
    animation-duration: infinite;
  }
  .home-container .more span:hover{
    text-decoration: underline;
  }
  .socials{
    display: flex;
    gap: 2rem;
    font-size: 1rem;
    padding-bottom: 5rem;
    padding: 1rem;
  }
  .socials a{
    color: var(--Color);
    text-decoration: none;
  }
  .socials a i{
    font-size: 1.2rem;
  }
  .socials a i:hover{
    transform: scale(1.4);
  }
  


  /* responsiveness */

@media (max-width:700px) {
  .socials {
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    right: 0; left: 0;
    padding: 1.3rem;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }
  .socials a i{
    font-size: 1.2rem;
  }
}  