.master-preview{
    background-color: aqua;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    z-index: 200;
}


.preview-card{
    position: absolute;
    right: 0;
    background-color: var(--Color);
    color: var(--innerColor);
    padding: 2rem;
    top: 0;
    bottom: 0;
    z-index: 200;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    overflow: scroll;
}

.preview-card img{
    max-width: 100%;
    border-radius: 1rem;
}

.preview-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.preview-nav h2{
    font-size: 1rem;
}
.preview-card .line{
    width: 100%;
    height: 1px;
    background-color: var(--lineColor);
}

.preview-card .preview-content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
}

.preview-card a{
    text-decoration: none;
    color: var(--innerColor);
    opacity: 0.6;
    font-size: 0.8rem;
    font-weight: 700;
}
.preview-card a:hover{
    opacity: 1;
}
.preview-card .last-guy{
    margin-bottom: 5rem;
}
.open-proj{
    /* position: absolute; */
    bottom: 0;
    background-color: var(--innerColor);
    left: 0;
    right: 0;
    padding: 1rem;
    display: flex;
    justify-content: center;
}
.open-proj a{
    color: var(--Color);
    font-size: 1rem;
    opacity: 1;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.open-proj:hover{
    background-color: rgba(0, 0, 0, 0.801);
}

.show-preview{
    right: -5000px;
    transition: 0.3s ease all;
}


/* responsiveness */

@media (max-width: 700px) {
    .master-preview{
        background: none;
    }
    .preview-card{
        width: 100%;
    }
}